<div class='main'>
    <div class='main-visual'>
      <%= image_tag "art-main01.png", class:"main-image" %>
        <div class='main-title'>
         <h2>"アート思考で</h2>
         <h3>クリエイティブに"</h3>
        </div>
      <div class='top-page-header'>
       <div class='nav'>
        <ul class='lists'>
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> 
            <li><%= link_to image_tag("post.png", class: "post"), new_post_path %></li>
            <li><%= link_to image_tag("logout.png", size: '23x23', class: "logout"), destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to image_tag("user_icon.png", size: '23x23', class: "sign-up"), new_user_registration_path %></li>
            <li><%= link_to image_tag("login.png", size: '23x23', class: "login"), new_user_session_path %></li>
          <% end %>  
        </ul>
      </div>
    </div>
  </div>
    
  <div class='second-visual'>
    <%= image_tag "second-visual-image.png", class:"second-image" %>
      <div class='artthinking'>
        <h3>「正解を見つける力」から</h3>
        <h2>「答えを作る力」へ</h2>
      </div>
      <div class="artthinking-description">
        <h3 class="artthinking-title">アート思考とは!?<p>"自分だけの答えを作ること"</p></h3>
         <div class="artthinking-commentary">
            <h4>数学は太陽のように明確で唯一の答えが存在しています。</h4>
            <h4>「1+1＝2」が正しいことは、すでにはっきりしています。</h4>
            <h4>一方アートは数学が太陽とするならば、アートは雲です。</h4>
            <h4>太陽はいつもそこにありますが、雲は形を変えています。</h4>
         </div>
      </div>
    </div>
     
   
   <div class="contemporary">
   <%= link_to 'コンテンポラリー', post_path(posts_url), class: "list" %>
     <div class="contemporary-image">
      <%= image_tag "img1.jpg", class:"work" %>
      <%= image_tag "img2.jpg", class:"work" %>
      <%= image_tag "img3.jpg", class:"work" %>
   </div>

</div> 


