<%= link_to image_tag("home.png", size: '23x23', class: "home"), root_path %>
<%= link_to image_tag("contemporary.png", size: '23x23', class: ""), posts_path %>
<%= image_tag @post.image, class:"item-box-img" %>
<%= @post.visual_reading %>
<%= @post.question%>
<%= @post.answer %>
<%= @post.user.nickname %>

<%= form_with(model: [@post, @comment], local: true) do |f| %>
  <div class="field">
    <%= f.label :visual_reading, "視覚で感じること" %>
    <%= f.text_area :visual_reading, class: :form__text %>
    <%= f.label :question, "自ら作った問い" %>
    <%= f.text_area :question, class: :form__text %>
    <%= f.label :answer, "自分なりの答え" %>
    <%= f.text_area :answer, class: :form__text %>
  </div>
  <div class="actions">
    <%= f.submit "投稿", class: :form__btn %>
  </div>
<% end %>

<div class="comments">
  <h4>＜other thinking＞</h4>
  <% @comments.each do |comment| %>
    <p>
    <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
    <%= comment.visual_reading %>
    <%= comment.question%>
    <%= comment.answer %>
    </p>
  <% end %>
</div>