<div class="contemporary-content">
<div class="header">
  <%= link_to image_tag("home.png", size: '23x23', class: "home"), root_path %>
  <%= link_to image_tag("contemporary.png", size: '23x23', class: "contemporary"), posts_path %>
</div>

 <div class="post-main">
      <%= image_tag @post.image, class:"post-img" %>
    <div class="post-visual_reading">
      <%= @post.visual_reading %>
    </div>
    <div class="post-question">
      <%= @post.question %>
    </div>   
    <div class="post-answer">
      <%= @post.answer %>
    </div> 
    <div class="post-nickname">
      <%= @post.user.nickname %>  
    </div>
 </div>


  <% if user_signed_in? %>
      <% if current_user == @post.user %>
        <%= link_to image_tag("edit.png", size: '23×23', class: "post-edit"), edit_post_path(@post.id), method: :get %>
        <%= link_to image_tag("destroy.png", size: '23×23', class: "post-destroy"), post_path(@post.id), method: :delete %>
      <% end %>
    <% end %>

<div class="post-comment">
  <%= form_with(model: [@post, @comment], local: true) do |f| %>
    <div class="field">
      <%= f.label :visual_reading, "視覚で感じること" %><br />
      <%= f.text_area :visual_reading, class: :form_text %><br />

      <%= f.label :question, "自ら作った問い" %><br />
      <%= f.text_area :question, class: :form_text %><br />
      
      <%= f.label :answer, "自分なりの答え" %><br />
      <%= f.text_area :answer, class: :form_text %>
    </div>
    
    <div class="actions">
      <%= f.submit "投稿", class: :form_btn %>
    </div>
  <% end %>
</div>

<div class="other-comments">
  <h2>other think</h2>
  <% @comments.each do |comment| %>
    <p>
    <strong><%= link_to comment.user.nickname, staticpage_path %>：</strong>
    <%= comment.visual_reading %>
    <%= comment.question%>
    <%= comment.answer %>
    </p>
  <% end %>
</div>
<script>ScrollReveal().reveal('.contemporary-content', { 
                 duration: 1600,
                 reset: true   
         });</script>
</div>